# Auto detect text files and perform LF normalization
* text=auto

*.js linguist-vendored
*.jsx linguist-vendored
*.ts linguist-vendored
*.tsx linguist-vendored
*.css linguist-vendored
*.html linguist-vendored
*.json linguist-vendored
*.ipynb linguist-vendored
